subjectAltName=email:copy,email:my@other.address,URI:http://my.url.here/,\
IP:192.168.7.1,\
IP:13::17,\
email:my@other.address,RID:1.2.3.4,\
otherName:1.2.3.4;UTF8:some other identifier,\
dirName:dir_sect

[dir_sect]
C=UK
O=My Organization
OU=My Unit
CN=My Name